[run]
source = 
    dataportal
    replay

[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    *test*
    dataportal/__init__.py
    dataportal/tests/*
    dataportal/testing/*
    *versioneer*

exclude_lines =
    if __name__ == '__main__':
