[run]
source = databroker
branch=True

[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    databroker/__init__.py
    # ignore _version.py and versioneer.py
    .*version.*
    *_version.py

exclude_lines =
    if __name__ == '__main__':
