recursive-include doc/source *
include doc/Makefile doc/make.bat
include LICENSE
include MANIFEST.in
include README.md
include requirements.txt
include requirements-client.txt
include requirements-server.txt
include requirements-back-compat.txt
include setup.py
include versioneer.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

include versioneer.py
include databroker/_version.py
include databroker/assets/schemas/*.json

# If including data files in the package, add them like:
# include path/to/data_file
