area-detector-handlers
bluesky
codecov
coverage
flake8
glue-core <1.18
glueviz
matplotlib
mongomock
msgpack >=1.0.0
numpy >=1.16.0  # for astropy (via glueviz)
ophyd
pyqt5 !=5.14.1
pytest >=4.4,!=5.4.0
pytest-rerunfailures
sphinx
suitcase-jsonl >=0.1.0b2
suitcase-mongo >=0.5.0
suitcase-msgpack >=0.2.2
tiled[all] >=0.1.0a115
ujson
vcrpy
