dask[bag]
event_model >=1.8.0rc3
msgpack
intake !=0.4.3
intake-xarray
msgpack
numpy
pandas
pymongo  # to be split into extras or a separate package
pyyaml  # undeclared by intake v0.4.1
requests
xarray
mongoquery
suitcase-mongo
