area-detector-handlers
bluesky
codecov
coverage
flake8
glueviz
intake[server]
matplotlib
mongobox
numpy >=1.16.0  # for astropy (via glueviz)
ophyd
pathlib
pyqt5
pytest >=4.4
pytest-rerunfailures
pytest-env
sphinx
suitcase-jsonl >=0.1.0b2
suitcase-mongo >=0.1.0
suitcase-msgpack >=0.2.2
ujson
vcrpy
